.menu-toggle {
    background: #3B82F6;
    color: #fff;
    border-radius: 8px;
}

.interview-status {
    padding: 8px 12px;
    color: #fff;
    /* border: 1px solid #10B981; */
    border-radius: 8px;
    background: #10B981;
}
.rejected-status {
    padding: 8px 12px;
    color: #fff;
    border-radius: 8px;
    background: #EF4444;;
}

.not-applied {
    margin-bottom: 20px;
}

