.menu-toggle {
    background: #3B82F6;
    color: #fff;
    border-radius: 8px;
}

.interview-status {
    padding: 8px 12px;
    color: #fff;
    border-radius: 8px;
    background: #10B981;
}
.rejected-status {
    padding: 8px 12px;
    color: #fff;
    border-radius: 8px;
    background: #EF4444;;
}

.not-applied {
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #522dd8;
}

.interview-btn:hover {
    background: #10B981;
    color: #fff;
}

.rejected-btn:hover {
    background: #EF4444;
    color: #fff;
}


